<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=d3dd748f-20b1-4fcf-944d-a345006f8023.sqlserver.sequelizer.com;Database=dbd3dd748f20b14fcf944da345006f8023;User ID=nmekgwividaanhvm;Password=aAQWN2rVcti7tFgC3PidJvXBEfhHoKybKk6HBoxMmvu3TvEVbEhZiU3MLnqGSQGz;"/>
  </appSettings>
</configuration>
